#jinja2:variable_start_string:'[%', variable_end_string:'%]', trim_blocks: False
{
  "policies": {
    "BlockAboutConfig": true,
    "BlockAboutProfiles": true,
    "DefaultDownloadDirectory": "${home}/Downloads",
    "DisableFirefoxStudies": true,
    "DisablePasswordReveal": true,
    "DisableTelemetry": true,
    "DisplayBookmarksToolbar": true,
    "OverrideFirstRunPage": "[% firefox_start_page %]|[% firefox_additional_start_page %]",
    "DownloadDirectory": "${home}/Downloads",
    "Homepage": {
      "URL": "[% firefox_start_page %]",
      "Locked": true,
      "StartPage": "homepage-locked",
      "Additional": ["[% firefox_additional_start_page %]"]
    },
    "Bookmarks": [
    {% for item in bookmarks %}
      {
        "Placement": "toolbar",
        "Title":"[% item.name %]",
        "URL": "[% item.value %]"
      },
      {% endfor %}
      {
        "Placement": "toolbar",
        "Title": "Linux",
        "URL": "https://linux-bildung.at"
      }
    ],
    "NoDefaultBookmarks": true,
    "OfferToSaveLogins": false,
    "PasswordManagerEnabled": false,
    "Preferences": {
      "media.gmp-widevinecdm.enabled": true,
      "browser.tabs.warnOnClose": false
    },
    "RequestedLocales": [
      "de"
    ],
    "ExtensionSettings": {
      "uBlock0@raymondhill.net": {
        "installation_mode": "force_installed",
        "install_url": "https://addons.mozilla.org/firefox/downloads/latest/ublock-origin/latest.xpi"
      },
      "de-DE@dictionaries.addons.mozilla.org": {
        "installation_mode": "force_installed",
        "install_url": "https://addons.mozilla.org/firefox/downloads/file/1163876/german_dictionary-2.0.6.1webext.xpi"
      },
      "{5b1a796b-231a-4ad1-84ff-918db0818207}": {
        "installation_mode": "force_installed",
        "install_url": "https://addons.mozilla.org/firefox/downloads/file/3878852/startpage_privacy_protection-1.0.0-fx.xpi"
      },
      "langpack-de@firefox.mozilla.org": {
        "installation_mode": "force_installed",
        "install_url": "/usr/lib/firefox-addons/extensions/langpack-de@firefox.mozilla.org.xpi"
      }     
    },
    "SanitizeOnShutdown": {
      "Cache": true,
      "Cookies": true,
      "Downloads": true,
      "FormData": true,
      "History": true,
      "OfflineApps": true,
      "Sessions": true,
      "SiteSettings": true
    }
  }
}
